<h1>Brenda Erekson</h1>
<body>
  <main>
          <div class="container">
            <h2>Welcome to CSE Motors!</h2>
            <img src="/public/images/vehicles/delorean.jpg" alt="Delorean">
          </div>
          <div class="delorean">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button type="button" class="btn-dmc">Own Today</button>
          </div>
    
    
          <section class="last">
            <section class="reviews">
              <div class="rating">
               <ul class="list">
                  <li>"So fast it's almost like traaveling in time." (4/5)</li>
                  <li>"Coolest ride on the road. (4/5)</li>
                  <li>"I'm feeling McFly!" (5/5)</li>
                  <li>"The most futuristic ride of our day." (4.5/5)</li>
                  <li>"80's livin and I love it!" (5/5)</li>
                </ul>
              </div>
            </section>
            <section class="upgrades">
    
            <div class="cards">
                <div class="card">
                  <a href="/vehicles/delorean">
                    <img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <h3>Flux Capacitor</h3>
                </div>
      
                <div class="card">
                  <a href="/vehicles/delorean">
                  <img src="/public/images/upgrades/flame.jpg" alt="Flame Decals">
                  <h3>Flame Decals</h3>
                </div>
      
                <div class="card">
                  <a href="/vehicles/delorean">
                  <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                  <h3>Bumper Stickers</h3>
                </div>
      
                <div class="card">
                  <a href="/vehicles/delorean">
                  <img src="/public/images/upgrades/hub-cap.jpg" alt="Flux Capacitor">
                  <h3>Hub Caps</h3>
                </div>
            </div>
            </section>
          </section>
        </main>
      </body>