/******* Change Box Model ***************/
/*Font families
  - 'Roboto', sans-serif;
  - 'Roboto Slab', serif;
  - 'Roboto Mono', monospace;
  - 'Roboto Condensed', sans-serif;
  - 'Roboto Condensed', sans-serif;
  - 'Roboto Cond
*/
:root {
  --background-nav: #112a46;
  --background-main: #f3f3f3;
  --font-color: #f3f3f3;
  --font-color-hover: #eede97;
  --light-background-font: #112a46;
  --box-color: #5b0987;
}
*,
*:before,
*:after {
  box-sizing: border-box;

}
 

body {
  border:10px solid #000;
  border-radius:10px;
  background-image:url('/public/images/site/checkerboard.jpg');
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin:  10px 100px;
  padding: 0;

}
main {
  background-color: var(--background-main);
}
header {
  background-color: var(--background-nav);
  color: var(--font-color);

}
#tools{
  background-color: var(--background-nav);
  color: var(--font-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  float:right;

}
span{
  color: var(--font-color);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:3em;
}
footer {
  background: var(--background-nav);
  color: var(--font-color);
}
nav {
  display:block;
  background-color: var(--background-nav);
  color: var(--font-color);
  width: 100%;
  padding: 0.5rem 1rem;

}
nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

li{
  float: left;
  padding:10px;
  list-style-type:none;
}

section {
  background-color: var(--background-main);
  color: var(--font-color);

}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto Slab', serif;;
  color: var(--light-background-font);
}
p {
  font-family: "Roboto", sans-serif;
  color: var(--light-background-font);
}
a {
  color: var(--font-color);
}
a:hover {
  color: var(--font-color-hover);
}
ul {
  list-style: bullet;
}

img {
  
  max-width: 100%;
  height: auto;
}

/* main parts */
.container {
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* box for content that floats over top*/
.delorean {
  position: absolute;
  top: 500px;
  left:200px;
  padding:4px;
  background-color:whitesmoke;
  opacity:70%;
  color: var(--font-color);
  border-radius: 1rem;
}
.btn-dmc {
  background-color: var(--background-nav);
  color: var(--font-color);
  opacity:100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn-dmc:hover {
  background-color: var(--font-color-hover);
  opacity: 100%;

}
/* section with bullets */

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  text-decoration: none;
  flex-wrap: wrap;
  width:45%;

}
.last{
  display: flex;
  display: flexbox;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: flex-start;

}
.reviews{
  display:flexbox;
  flex-direction:row;
  justify-content:space-between;

}
.rating {
  display:flexbox;
  flex-direction:row;
  justify-content:space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  
  color: var(--background-nav);

}

/* section with cards */

.upgrades {
  display:flexbox;
  flex-direction:row;
  justify-content:space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
 
  color: var(--background-nav);

}
.cards {
  display: flex;
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  
  flex-wrap: wrap;
  align-content: center;
}
.card {
  width: 45%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--box-color);
  color: var(--font-color);
}
.card:hover {
  background-color: var(--font-color-hover);
}
.card__img {
  width: 100%;
  height: auto;
}



