<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <form class="classification-add" action="/inventory/add-classification" method="post">
  <fieldset>
    <legend>Add Classification</legend>
    <div class="form-group">
        <label for="classificationName">Classification Name</label>
        <input type="text" class="form-control" name="classification_name" id="classificationName" placeholder="Classification Name" required>
        <input type="submit" name="submit" id="addClassification" value="Add Classification">
    </div>
    </fieldset>
</form>