<%#Unit 3 activity 2: Create a classification view#>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%# messages() %>
    <%#inventory display#>
    <%- grid %>
