<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="management">
<%#need two links one to trigger "add new classification view" and one to trigger "add new vehicle view"%>   
<a title="Click to add Class" href="/inventory/add-classification" class="subbtn">Add new Classification</a>
<a title="Click to add Vehicle" href="/inventory/add-vehicle" class="subbtn">Add new Vehicle</a>
</div>